<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63d8b60c-1897-4ed9-b598-6b10acd6d7fc" Alias="servicePage" Level="1">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6d2b4b9-27ce-43f1-80ed-8df52d58ac2c">heroComposition</Composition>
      <Composition Key="f96d5aec-f864-4ddc-9ce5-c0dded290625">pageSettingsComposition</Composition>
      <Composition Key="520a1cfa-4b8f-45e6-9e29-1b3d11f0c072">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>86bfd7e7-296e-4055-a75b-78b2690d5144</Key>
      <Name>Is featured Service</Name>
      <Alias>isFeaturedService</Alias>
      <Definition>fcbabdd8-b948-4829-a684-79d69b317a8a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52c1286d-bc9c-4a92-ab99-e37a1408b4b8</Key>
      <Name>Key Featured</Name>
      <Alias>keyFeatured</Alias>
      <Definition>c7cae453-156f-4d18-82c4-fe822b45dab0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22da38a4-0e57-4829-921f-200f0c8282a6</Key>
      <Name>Service Description</Name>
      <Alias>serviceDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>506cd716-662e-44d9-b4c3-31dca0c493ba</Key>
      <Name>Service Icon</Name>
      <Alias>serviceIcon</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ac1c152-d248-4301-8a29-d953081925ee</Key>
      <Caption>Content Tab</Caption>
      <Alias>contentTab</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>