<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8b801bd-2126-454e-9cdd-e34c5900eb0a" Alias="standardPage" Level="1">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6d2b4b9-27ce-43f1-80ed-8df52d58ac2c">heroComposition</Composition>
      <Composition Key="f96d5aec-f864-4ddc-9ce5-c0dded290625">pageSettingsComposition</Composition>
      <Composition Key="520a1cfa-4b8f-45e6-9e29-1b3d11f0c072">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>StandardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f0eab95-c77e-472b-8145-2bfb9f2a3803">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d8b801bd-2126-454e-9cdd-e34c5900eb0a" SortOrder="0">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a0504c43-99fd-4b37-81fb-eb5c632a711e</Key>
      <Name>Body Content</Name>
      <Alias>bodyContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80ba2919-96e0-4507-a21c-70ec6f467645</Key>
      <Name>Legacy Source URL</Name>
      <Alias>legacySourceUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dad0e6e-bf87-49ec-b88b-8dec65816944</Key>
      <Name>Sidebar Content</Name>
      <Alias>sidebarContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4afe3ff8-0cba-4d23-b7de-316c15a78f5e</Key>
      <Caption>Content Tab</Caption>
      <Alias>contentTab</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>