<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1f6b20e-d35e-431c-8a1d-1eb64823169d" Alias="sustainabilityPage" Level="1">
  <Info>
    <Name>Sustainability Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6d2b4b9-27ce-43f1-80ed-8df52d58ac2c">heroComposition</Composition>
      <Composition Key="f96d5aec-f864-4ddc-9ce5-c0dded290625">pageSettingsComposition</Composition>
      <Composition Key="520a1cfa-4b8f-45e6-9e29-1b3d11f0c072">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>SustainabilityPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8551bf97-fa42-4fad-8f91-85116bd992b0">SustainabilityPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a5d34b0f-4d4c-4252-b79d-1774fe4dfe5f</Key>
      <Name>ESG Report PDF</Name>
      <Alias>esgReportPdf</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06d396b8-5490-4963-b4ff-a14b0808f7f3</Key>
      <Name>Overview Text</Name>
      <Alias>overviewText</Alias>
      <Definition>7dc9bc2f-d7f1-4d01-8998-eaa8926d0549</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6aa5194a-5521-4015-95ac-61b0643a5a59</Key>
      <Name>Sustainability Goals</Name>
      <Alias>sustainabilityGoals</Alias>
      <Definition>5941e45b-6aca-4fb4-8d96-9a9bf6a106d5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contentTab">Content Tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a79ecbc8-13c2-47f8-b30c-c89b392678e9</Key>
      <Caption>Content Tab</Caption>
      <Alias>contentTab</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>