<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7a20f56-b616-42a2-9564-5a82c8a9d057" Alias="Blog-1" Level="3">
  <Info>
    <Parent Key="0ee529d0-6b26-4786-bf8e-fbdd48f48c01">Blog Posts</Parent>
    <Path>/UnipharGroup/BlogPosts/Blog1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-09-17T11:32:22</CreateDate>
    <NodeName Default="Blog-1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Uniphar Media Team]]></Value>
    </author>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EArtificial intelligence is transforming how we diagnose conditions early.\u003C/p\u003E"
}]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[[
  {
    "key": "7aff231b-2a7e-4255-8de7-a263043d9653",
    "mediaKey": "3f32f314-c29d-4997-84bc-116b9dd7186f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </featuredImage>
    <publishDate>
      <Value><![CDATA[2026-09-17T00:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Medical AI in Diagnostics]]></Value>
    </title>
  </Properties>
</Content>