<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ee529d0-6b26-4786-bf8e-fbdd48f48c01" Alias="Blog Posts" Level="2">
  <Info>
    <Parent Key="90c7dbef-954a-4095-9426-51de6586b46a">Uniphar Group</Parent>
    <Path>/UnipharGroup/BlogPosts</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListing</ContentType>
    <CreateDate>2026-09-17T11:29:52</CreateDate>
    <NodeName Default="Blog Posts" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>