<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fc7d076-6483-4c8a-8699-79788979aaab" Alias="Cardiac Monitoring" Level="2">
  <Info>
    <Parent Key="31cd9348-ce03-4887-943b-6885dee41d4e">Uniphar Medtech</Parent>
    <Path>/UnipharMedtech/CardiacMonitoring</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-01T11:40:35</CreateDate>
    <NodeName Default="Cardiac Monitoring">
      <Name Culture="en-US">Cardiac Monitoring</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Cardiac Monitoring]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "56c49c9f-a932-4238-8fb7-1da7e6122569",
    "mediaKey": "4f5cef76-4dd4-42ee-a59e-6f183c563395",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Advanced cardiac monitoring systems for hospitals and clinics]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "827da5c1-ed44-408d-ba4d-9a61c8553466",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Real-Time Monitoring"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Continuous patient data with instant alerts"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "827da5c1-ed44-408d-ba4d-9a61c8553466",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "827da5c1-ed44-408d-ba4d-9a61c8553466",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EAdvanced cardiac monitoring systems for hospitals and clinics.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "d02dee5f-2b69-469d-8d12-f547de4f2204",
    "mediaKey": "68911fd0-164d-41cb-8fb2-41bd5ab3a68a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>