<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f31cb9f-252d-4942-aa47-e9528c65f381" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a69232d6-31b1-4f3e-b7c9-3c5dc8567ead">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2026-09-01T11:47:25</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en-US">Contact</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f4606b96-48d3-46a5-982a-b36d5bb73b04">ContactPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[4045 Kingswood Road, Citywest Business Park, Co. Dublin, D24 V06K, Ireland]]></Value>
    </address>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <emailAddress>
      <Value><![CDATA[pharma@uniphar.ie]]></Value>
    </emailAddress>
    <googleMapEmbed>
      <Value><![CDATA[]]></Value>
    </googleMapEmbed>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "30a4f2e7-fcfb-4878-b3d1-5dc51b992f31",
    "mediaKey": "68c8d526-73af-4ce1-9bcb-b78f3807fab0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <latitude>
      <Value Culture="de-DE"><![CDATA[-1000000000000000000]]></Value>
      <Value Culture="en-US"><![CDATA[53.2862]]></Value>
      <Value Culture="fr-FR"><![CDATA[-1000000000000000000]]></Value>
    </latitude>
    <longitude>
      <Value Culture="de-DE"><![CDATA[-1000000000000000000]]></Value>
      <Value Culture="en-US"><![CDATA[-6.4255]]></Value>
      <Value Culture="fr-FR"><![CDATA[-1000000000000000000]]></Value>
    </longitude>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <officeImage>
      <Value><![CDATA[[
  {
    "key": "6bfb1460-9653-48a2-bf14-22b31fec633b",
    "mediaKey": "af5fa492-4af5-4531-a0e8-4808a3296740",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeImage>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <phoneNumBer>
      <Value><![CDATA[+353 1 401 3000]]></Value>
    </phoneNumBer>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>