<?xml version="1.0" encoding="utf-8"?>
<Content Key="51f15754-5092-4308-977e-d786c24e1696" Alias="Contact" Level="2">
  <Info>
    <Parent Key="90c7dbef-954a-4095-9426-51de6586b46a">Uniphar Group</Parent>
    <Path>/UnipharGroup/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2026-09-01T11:24:13</CreateDate>
    <NodeName Default="Contact">
      <Name Culture="en-US">Contact</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f4606b96-48d3-46a5-982a-b36d5bb73b04">ContactPage</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[3013 Lake Drive, Citywest Business Campus, Dublin 24, Ireland]]></Value>
    </address>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <emailAddress>
      <Value><![CDATA[info@uniphar.ie]]></Value>
    </emailAddress>
    <googleMapEmbed>
      <Value><![CDATA[]]></Value>
    </googleMapEmbed>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "db57c694-2591-4b10-88a2-d3f6f86dc04c",
    "mediaKey": "fae5a6af-c154-4a1f-82ed-0ae5d8e4203a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <latitude>
      <Value Culture="de-DE"><![CDATA[-1000000000000000000]]></Value>
      <Value Culture="en-US"><![CDATA[53.290706]]></Value>
      <Value Culture="fr-FR"><![CDATA[-1000000000000000000]]></Value>
    </latitude>
    <longitude>
      <Value Culture="de-DE"><![CDATA[-1000000000000000000]]></Value>
      <Value Culture="en-US"><![CDATA[-6.422491]]></Value>
      <Value Culture="fr-FR"><![CDATA[-1000000000000000000]]></Value>
    </longitude>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <officeImage>
      <Value><![CDATA[[
  {
    "key": "a8f4e125-88d6-4d36-93b7-15a7b22b8c6d",
    "mediaKey": "308e2143-d6ef-4f38-9b8f-a7bb48d5bc8c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeImage>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <phoneNumBer>
      <Value><![CDATA[+353 1 401 1000]]></Value>
    </phoneNumBer>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>