<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbfd8eb6-51e5-4f9e-ba59-e403c696e27f" Alias="Endoscopy Equipment" Level="2">
  <Info>
    <Parent Key="31cd9348-ce03-4887-943b-6885dee41d4e">Uniphar Medtech</Parent>
    <Path>/UnipharMedtech/EndoscopyEquipment</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-21T12:09:52</CreateDate>
    <NodeName Default="Endoscopy Equipment">
      <Name Culture="en-US">Endoscopy Equipment</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Endoscopy Equipment]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "3fc01b44-235b-42e7-b6a0-f5fade3d6380",
    "mediaKey": "8ae665b5-1a89-4678-802b-b2868f32b6fa",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Advanced endoscopy systems for diagnostic and therapeutic procedures]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "c6e536ef-b6ae-47cd-973f-762becfa9e56",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Flexible Endoscopes"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "High-definition scopes for GI and respiratory procedures"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "cf321500-5393-49ba-8ca5-8f11df022f25",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Imaging Systems"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Full HD tower systems with recording and reporting capability"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c6e536ef-b6ae-47cd-973f-762becfa9e56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cf321500-5393-49ba-8ca5-8f11df022f25",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c6e536ef-b6ae-47cd-973f-762becfa9e56",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cf321500-5393-49ba-8ca5-8f11df022f25",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EFrom flexible endoscopes to full suite imaging systems, we provide and maintain the equipment that gastroenterology and respiratory teams depend on daily.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "8f754816-c947-49fe-820b-33dacdcff299",
    "mediaKey": "8ae665b5-1a89-4678-802b-b2868f32b6fa",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>