<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfff9b0e-2bd4-4753-a631-c5d0b6692274" Alias="Infusion Therapy" Level="2">
  <Info>
    <Parent Key="31cd9348-ce03-4887-943b-6885dee41d4e">Uniphar Medtech</Parent>
    <Path>/UnipharMedtech/InfusionTherapy</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-21T12:05:51</CreateDate>
    <NodeName Default="Infusion Therapy">
      <Name Culture="en-US">Infusion Therapy</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Infusion Therapy Solutions]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c5b76859-d9b5-453a-a51c-8a6df11e2669",
    "mediaKey": "36e89a5a-b961-405e-98d0-2cb7baacd95c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Specialist infusion systems for hospital and home care settings]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "2bbbb166-cc32-44dd-9912-5bf5d2bfd0e3",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "IV Pump Systems"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hospital-grade infusion pumps with smart dose error reduction"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "219490ca-4567-4ec1-a0b7-3ed29a58c282",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Home Infusion Support"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Equipment and training for patients transitioning to home care"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "34cadde5-1ccf-400b-b840-ccbd2b98671d",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Clinical Training"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "On-site training for nursing staff on all infusion devices"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2bbbb166-cc32-44dd-9912-5bf5d2bfd0e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "219490ca-4567-4ec1-a0b7-3ed29a58c282",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "34cadde5-1ccf-400b-b840-ccbd2b98671d",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2bbbb166-cc32-44dd-9912-5bf5d2bfd0e3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "219490ca-4567-4ec1-a0b7-3ed29a58c282",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "34cadde5-1ccf-400b-b840-ccbd2b98671d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe supply and support a comprehensive range of infusion therapy equipment including pumps, sets, and accessories for acute and community care environments.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "85b986d5-43cd-484e-971a-e30e2f629a03",
    "mediaKey": "36e89a5a-b961-405e-98d0-2cb7baacd95c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>