<?xml version="1.0" encoding="utf-8"?>
<Content Key="583a87a6-6502-4e82-8a1d-351639e1d7e6" Alias="Investors" Level="2">
  <Info>
    <Parent Key="90c7dbef-954a-4095-9426-51de6586b46a">Uniphar Group</Parent>
    <Path>/UnipharGroup/Investors</Path>
    <Trashed>false</Trashed>
    <ContentType>investorOverviewPage</ContentType>
    <CreateDate>2026-09-01T11:19:21</CreateDate>
    <NodeName Default="Investors">
      <Name Culture="en-US">Investors</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="bb9b5756-e89b-44f7-8994-c8998b1e2466">InvestorOverviewPage</Template>
  </Info>
  <Properties>
    <annualReportPdf>
      <Value><![CDATA[[
  {
    "key": "e53d87d2-f6a2-4848-9825-4538a6e032e2",
    "mediaKey": "75a7b75d-8edb-4fa9-96c3-c5dc9cc2319d",
    "mediaTypeAlias": "umbracoMediaArticle",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportPdf>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Investor Relations]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4cd84137-98e3-4b76-9a0e-d955561e5432",
    "mediaKey": "4ef62ad0-49cb-429f-8db0-50b0c18590bb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Uniphar represents a strong combination of scale, growth and profitability]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <introduction>
      <Value><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003EUniphar Group plc is listed on the Euronext Dublin and London Stock Exchange. We deliver consistent growth through our diversified healthcare services model, serving pharma and medtech partners across Europe.\u003C/p\u003E"
}]]></Value>
    </introduction>
    <keyStats>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5370582a-c2c0-4294-8402-814c0aec2cba",
      "key": "9716e95d-98ac-4643-a665-207523fc5292",
      "values": [
        {
          "alias": "statValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "$130.9m"
        },
        {
          "alias": "statLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "EBIDTA"
        }
      ]
    },
    {
      "contentTypeKey": "5370582a-c2c0-4294-8402-814c0aec2cba",
      "key": "b979b46b-2d94-412f-a6ae-f89255bb5f94",
      "values": [
        {
          "alias": "statValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3,000\u002B"
        },
        {
          "alias": "statLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Employees"
        }
      ]
    },
    {
      "contentTypeKey": "5370582a-c2c0-4294-8402-814c0aec2cba",
      "key": "e9d140ab-f8fb-4967-8c11-d531b1985150",
      "values": [
        {
          "alias": "statValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20\u002B"
        },
        {
          "alias": "statLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Countries"
        }
      ]
    },
    {
      "contentTypeKey": "5370582a-c2c0-4294-8402-814c0aec2cba",
      "key": "ec59bc81-e36d-46da-b12f-07c4cef08891",
      "values": [
        {
          "alias": "statValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u20AC2.1bn"
        },
        {
          "alias": "statLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Revenue"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9716e95d-98ac-4643-a665-207523fc5292",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b979b46b-2d94-412f-a6ae-f89255bb5f94",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e9d140ab-f8fb-4967-8c11-d531b1985150",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec59bc81-e36d-46da-b12f-07c4cef08891",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9716e95d-98ac-4643-a665-207523fc5292",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b979b46b-2d94-412f-a6ae-f89255bb5f94",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e9d140ab-f8fb-4967-8c11-d531b1985150",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec59bc81-e36d-46da-b12f-07c4cef08891",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyStats>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <resultPresentationPdf>
      <Value><![CDATA[[
  {
    "key": "1f230f74-f1a7-4e00-9b49-4fdebf07f20f",
    "mediaKey": "75a7b75d-8edb-4fa9-96c3-c5dc9cc2319d",
    "mediaTypeAlias": "umbracoMediaArticle",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </resultPresentationPdf>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
    <stockTickerEmbed>
      <Value><![CDATA[<iframe src="https://s.tradingview.com/embed-widget/mini-symbol-overview/?symbol=EURONEXT:UPR&width=100%25&height=400%25&locale=en&dateRange=12M&colorTheme=light" width="100%" height="600" frameborder="0"></iframe>]]></Value>
    </stockTickerEmbed>
    <year>
      <Value><![CDATA[2025]]></Value>
    </year>
  </Properties>
</Content>