<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ce310ab-46f5-410d-88bb-45e1ed275a06" Alias="Oncology Distribution" Level="2">
  <Info>
    <Parent Key="a69232d6-31b1-4f3e-b7c9-3c5dc8567ead">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/OncologyDistribution</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-21T12:13:58</CreateDate>
    <NodeName Default="Oncology Distribution">
      <Name Culture="en-US">Oncology Distribution</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Oncology Distribution]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "e9a91646-3feb-4fbd-a9cd-eb09bccb4bf2",
    "mediaKey": "3b0de19c-98ce-4b2f-8241-a5f3e30652f3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Specialist distribution of oncology medicines to hospitals and cancer centres]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "d143380c-164b-421f-9bd5-801dbf704104",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cold Chain Logistics"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "GDP-compliant temperature-controlled distribution 2\u20138\u00B0C"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "978649b9-5a42-439b-88db-621eb4a32483",
              "mediaKey": "7d1985bd-4cac-4759-8691-bb9ce04376b2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "298573ba-903f-4980-adbd-ba5e5b79ead4",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Regulatory Compliance"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Full EU GDP compliance with real-time deviation monitoring"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "f0c23544-3f54-4fa9-b068-e1056b04c607",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Direct to Pharmacy"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hospital pharmacy delivery with full chain of custody tracking"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d143380c-164b-421f-9bd5-801dbf704104",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "298573ba-903f-4980-adbd-ba5e5b79ead4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0c23544-3f54-4fa9-b068-e1056b04c607",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d143380c-164b-421f-9bd5-801dbf704104",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "298573ba-903f-4980-adbd-ba5e5b79ead4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f0c23544-3f54-4fa9-b068-e1056b04c607",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe manage the end-to-end supply chain for high-value oncology products, ensuring temperature-controlled, compliant delivery directly to pharmacy and ward level.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "73e1a733-4645-49f1-9d79-73e79763b4ad",
    "mediaKey": "3b0de19c-98ce-4b2f-8241-a5f3e30652f3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>