<?xml version="1.0" encoding="utf-8"?>
<Content Key="546612ec-7db0-473a-87e5-8d3dd841ccae" Alias="Orthopaedic Implants" Level="2">
  <Info>
    <Parent Key="31cd9348-ce03-4887-943b-6885dee41d4e">Uniphar Medtech</Parent>
    <Path>/UnipharMedtech/OrthopaedicImplants</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-21T12:11:44</CreateDate>
    <NodeName Default="Orthopaedic Implants">
      <Name Culture="en-US">Orthopaedic Implants</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Orthopaedic Implants Solutions]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "34732d9e-1493-40e1-a7ad-2e096132ef5a",
    "mediaKey": "82550feb-6d6c-4798-9d89-b61becc440b4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Trauma and elective orthopaedic implants distributed across Ireland and Europe]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "5ec99b4d-4cc3-4747-bdf3-5fd192a74ad6",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Trauma Implants"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Plates, screws, and nails for fracture fixation"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "74866f82-1fda-4542-83c6-39ddcff519a9",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Joint Reconstruction"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hip and knee replacement systems from leading manufacturers"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "54c515eb-47c0-4c3d-9384-06e87d4fcd60",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Theatre Logistics"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Consignment stock management and sterile implant delivery"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5ec99b4d-4cc3-4747-bdf3-5fd192a74ad6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "74866f82-1fda-4542-83c6-39ddcff519a9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54c515eb-47c0-4c3d-9384-06e87d4fcd60",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5ec99b4d-4cc3-4747-bdf3-5fd192a74ad6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "74866f82-1fda-4542-83c6-39ddcff519a9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "54c515eb-47c0-4c3d-9384-06e87d4fcd60",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe distribute a curated portfolio of orthopaedic implants covering trauma, hip, knee, and spine, supported by theatre-ready logistics and specialist rep support.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "4068b2cb-5eed-4ba6-b8c5-67f45eff4554",
    "mediaKey": "82550feb-6d6c-4798-9d89-b61becc440b4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>