<?xml version="1.0" encoding="utf-8"?>
<Content Key="829e6b96-23cb-46c5-9cfb-876e685b3162" Alias="Products" Level="2">
  <Info>
    <Parent Key="a69232d6-31b1-4f3e-b7c9-3c5dc8567ead">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2026-09-01T11:46:47</CreateDate>
    <NodeName Default="Products">
      <Name Culture="en-US">Products</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2f0eab95-c77e-472b-8145-2bfb9f2a3803">StandardPage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EOur pharmaceutical distribution network ensures products reach patients safely and efficiently across every market we serve.\u0022\u003C/p\u003E"
}]]></Value>
    </bodyContent>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Our Products]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[A comprehensive portfolio of pharmaceutical distribution solutions]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <legacySourceUrl>
      <Value><![CDATA[]]></Value>
    </legacySourceUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
    <sidebarContent>
      <Value><![CDATA[{
  "blocks": null,
  "markup": ""
}]]></Value>
    </sidebarContent>
  </Properties>
</Content>