<?xml version="1.0" encoding="utf-8"?>
<Content Key="61b00206-0f4f-4a6f-ba2b-8624cdd392d2" Alias="Rare Disease Medicines" Level="2">
  <Info>
    <Parent Key="a69232d6-31b1-4f3e-b7c9-3c5dc8567ead">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/RareDiseaseMedicines</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-09-21T12:16:04</CreateDate>
    <NodeName Default="Rare Disease Medicines">
      <Name Culture="en-US">Rare Disease Medicines</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="567ade43-ea1a-4d42-b569-c526b599e172">ServicePage</Template>
  </Info>
  <Properties>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Rare Disease Medicines Supply]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "07184792-f5bd-4e49-801a-71ee14706810",
    "mediaKey": "d2bec10e-bf0a-4a5f-ae3d-e1727f6410ed",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Ensuring patient access to orphan and rare disease treatments across Europe]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <isFeaturedService>
      <Value><![CDATA[1]]></Value>
    </isFeaturedService>
    <keyFeatured>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "ce52b610-58b6-4a22-a428-e72ea5bfba0a",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Named Patient Supply"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sourcing unlicensed medicines for individual patient needs"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "ecb1c9c0-d33c-4625-aaac-dfc532b8f03c",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Parallel Import"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Licensed parallel import services across EU markets"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656",
      "key": "3d701fbe-25e3-48e8-9be6-a7456b3aa505",
      "values": [
        {
          "alias": "featureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Patient Support"
        },
        {
          "alias": "featureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Coordination with hospital pharmacists and patient groups"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ce52b610-58b6-4a22-a428-e72ea5bfba0a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ecb1c9c0-d33c-4625-aaac-dfc532b8f03c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d701fbe-25e3-48e8-9be6-a7456b3aa505",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ce52b610-58b6-4a22-a428-e72ea5bfba0a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ecb1c9c0-d33c-4625-aaac-dfc532b8f03c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3d701fbe-25e3-48e8-9be6-a7456b3aa505",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </keyFeatured>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <serviceDescription>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EUniphar Pharma specialises in sourcing and distributing orphan drugs and rare disease treatments, navigating complex regulatory requirements to ensure patients receive their medicines on time.\u003C/p\u003E"
}]]></Value>
    </serviceDescription>
    <serviceIcon>
      <Value><![CDATA[[
  {
    "key": "032b7d72-fda6-4432-838d-1a50b36c7269",
    "mediaKey": "d2bec10e-bf0a-4a5f-ae3d-e1727f6410ed",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceIcon>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>