<?xml version="1.0" encoding="utf-8"?>
<Content Key="afe570f4-ae65-44cd-912f-4c5a498d7172" Alias="Services" Level="2">
  <Info>
    <Parent Key="31cd9348-ce03-4887-943b-6885dee41d4e">Uniphar Medtech</Parent>
    <Path>/UnipharMedtech/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2026-09-01T11:39:20</CreateDate>
    <NodeName Default="Services">
      <Name Culture="en-US">Services</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2f0eab95-c77e-472b-8145-2bfb9f2a3803">StandardPage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EUniphar Medtech delivers advanced medical technology solutions across cardiac monitoring, surgical equipment, and diagnostic tools. Our portfolio supports healthcare providers with the equipment and expertise they need to deliver exceptional patient care.\u003C/p\u003E"
}]]></Value>
    </bodyContent>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Our Services]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Innovative medical technology solutions for healthcare professionals]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <legacySourceUrl>
      <Value><![CDATA[]]></Value>
    </legacySourceUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
    <sidebarContent>
      <Value><![CDATA[{
  "blocks": null,
  "markup": ""
}]]></Value>
    </sidebarContent>
  </Properties>
</Content>