<?xml version="1.0" encoding="utf-8"?>
<Content Key="239798bc-5979-4f5e-bbef-982bbda80d61" Alias="Test Post" Level="3">
  <Info>
    <Parent Key="0ee529d0-6b26-4786-bf8e-fbdd48f48c01">Blog Posts</Parent>
    <Path>/UnipharGroup/BlogPosts/TestPost</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-09-18T09:52:21</CreateDate>
    <NodeName Default="Test Post" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Media Team]]></Value>
    </author>
    <body>
      <Value><![CDATA[<p>Test body</p>]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <publishDate>
      <Value><![CDATA[2026-09-18T09:52:21]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Test Post]]></Value>
    </title>
  </Properties>
</Content>