<?xml version="1.0" encoding="utf-8"?>
<Content Key="810634d4-dada-4914-b60e-d4eb285078e6" Alias="Test Post from API" Level="3">
  <Info>
    <Parent Key="0ee529d0-6b26-4786-bf8e-fbdd48f48c01">Blog Posts</Parent>
    <Path>/UnipharGroup/BlogPosts/TestPostFromAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-09-18T09:40:13</CreateDate>
    <NodeName Default="Test Post from API" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Media Team]]></Value>
    </author>
    <body>
      <Value><![CDATA[<p>This post was created via the API.</p>]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <publishDate>
      <Value><![CDATA[2026-09-18T09:40:13]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Test Post from API]]></Value>
    </title>
  </Properties>
</Content>