<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e62654a-29c4-4d05-9875-48d7490206e2" Alias="Test Post from API (1)" Level="3">
  <Info>
    <Parent Key="0ee529d0-6b26-4786-bf8e-fbdd48f48c01">Blog Posts</Parent>
    <Path>/UnipharGroup/BlogPosts/TestPostFromAPI1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-09-18T09:40:44</CreateDate>
    <NodeName Default="Test Post from API (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Media Team]]></Value>
    </author>
    <body>
      <Value><![CDATA[<p>This post was created via the API.</p>]]></Value>
    </body>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <publishDate>
      <Value><![CDATA[2026-09-18T09:40:44]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Test Post from API]]></Value>
    </title>
  </Properties>
</Content>