<?xml version="1.0" encoding="utf-8"?>
<Content Key="9858026f-3514-4aed-8c88-481bee2a9385" Alias="Test Migration Page 160159" Level="2">
  <Info>
    <Parent Key="90c7dbef-954a-4095-9426-51de6586b46a">Uniphar Group</Parent>
    <Path>/UnipharGroup/TestMigrationPage160159</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2026-09-22T10:32:00</CreateDate>
    <NodeName Default="Test Migration Page 160159">
      <Name Culture="en-US">Test Migration Page 160159</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2f0eab95-c77e-472b-8145-2bfb9f2a3803">StandardPage</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </bodyContent>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <legacySourceUrl>
      <Value><![CDATA[]]></Value>
    </legacySourceUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[]]></Value>
    </showInSitemap>
    <sidebarContent>
      <Value><![CDATA[{
  "blocks": null,
  "markup": ""
}]]></Value>
    </sidebarContent>
  </Properties>
</Content>