<?xml version="1.0" encoding="utf-8"?>
<Content Key="31cd9348-ce03-4887-943b-6885dee41d4e" Alias="Uniphar Medtech" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnipharMedtech</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-09-01T11:30:38</CreateDate>
    <NodeName Default="Uniphar Medtech">
      <Name Culture="en-US">Uniphar Medtech</Name>
      <Name Culture="fr-FR">Uniphar Medtech</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="fr-FR">true</Published>
    </Published>
    <Schedule />
    <Template Key="0d4579f8-85e8-473b-ad9c-a02f7912e0e7">HomePage</Template>
  </Info>
  <Properties>
    <brandColor>
      <Value><![CDATA[#0066cc]]></Value>
    </brandColor>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <featuredSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9e6053d5-8c8c-4032-a4bb-9c55531ac30c",
      "key": "4ef4b741-44a4-4d64-8315-8dba93285e14",
      "values": [
        {
          "alias": "cardHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore our range of medical technology solutions"
        },
        {
          "alias": "cardLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Services",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/afe570f4ae6544cd912f4c5a498d7172",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4ef4b741-44a4-4d64-8315-8dba93285e14",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4ef4b741-44a4-4d64-8315-8dba93285e14",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </featuredSections>
    <heroHeading>
      <Value Culture="en-US"><![CDATA[Medical Technology Solutions]]></Value>
      <Value Culture="fr-FR"><![CDATA[Solutions de Technologie Médicale]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[Advancing patient care through innovative medical technology]]></Value>
      <Value Culture="fr-FR"><![CDATA[Faire progresser les soins aux patients grâce à des technologies médicales innovantes]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <introductionHeading>
      <Value Culture="en-US"><![CDATA[About Uniphar Medtech]]></Value>
      <Value Culture="fr-FR"><![CDATA[About Uniphar Medtech]]></Value>
    </introductionHeading>
    <introductionText>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA leading provider of medical technology solutions across Europe\u003C/p\u003E"
}]]></Value>
      <Value Culture="fr-FR"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA leading provider of medical technology solutions across Europe\u003C/p\u003E"
}]]></Value>
    </introductionText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>