<?xml version="1.0" encoding="utf-8"?>
<Content Key="a69232d6-31b1-4f3e-b7c9-3c5dc8567ead" Alias="Uniphar Pharma" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnipharPharma</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-09-01T11:44:12</CreateDate>
    <NodeName Default="Uniphar Pharma">
      <Name Culture="de-DE">Uniphar Pharma</Name>
      <Name Culture="en-US">Uniphar Pharma</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="0d4579f8-85e8-473b-ad9c-a02f7912e0e7">HomePage</Template>
  </Info>
  <Properties>
    <brandColor>
      <Value><![CDATA[#00843d]]></Value>
    </brandColor>
    <ctaButtonLink>
      <Value><![CDATA[]]></Value>
    </ctaButtonLink>
    <ctaButtonText>
      <Value><![CDATA[]]></Value>
    </ctaButtonText>
    <featuredSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9e6053d5-8c8c-4032-a4bb-9c55531ac30c",
      "key": "a37d69d2-0f7f-42f7-9fc5-3c7806b815b5",
      "values": [
        {
          "alias": "cardHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Products"
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore our pharmaceutical distribution and supply chain solutions"
        },
        {
          "alias": "cardLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "/uniphar-pharma/services",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "/uniphar-pharma/services",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a37d69d2-0f7f-42f7-9fc5-3c7806b815b5",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a37d69d2-0f7f-42f7-9fc5-3c7806b815b5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </featuredSections>
    <heroHeading>
      <Value Culture="de-DE"><![CDATA[Pharmazeutische Vertriebsexzellenz]]></Value>
      <Value Culture="en-US"><![CDATA[Pharmaceutical Distribution Excellence]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroSubtext>
      <Value Culture="de-DE"><![CDATA[Verbindung pharmazeutischer Hersteller mit Patienten auf globalen Märkten]]></Value>
      <Value Culture="en-US"><![CDATA[Connecting pharmaceutical manufacturers with patients across global markets]]></Value>
    </heroSubtext>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <introductionHeading>
      <Value Culture="de-DE"><![CDATA[About Uniphar Pharma]]></Value>
      <Value Culture="en-US"><![CDATA[About Uniphar Pharma]]></Value>
    </introductionHeading>
    <introductionText>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA trusted partner in pharmaceutical distribution and supply chain services\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EA trusted partner in pharmaceutical distribution and supply chain services\u003C/p\u003E"
}]]></Value>
    </introductionText>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <showInSitemap>
      <Value><![CDATA[0]]></Value>
    </showInSitemap>
  </Properties>
</Content>