<?xml version="1.0" encoding="utf-8"?>
<Media Key="4aafb201-e730-4dca-8451-d42c9fed660d" Alias="about_us.jpg" Level="3">
  <Info>
    <Parent Key="41051ea4-6b95-41a9-8a6f-f13b0dd31110">Investors</Parent>
    <Path>/UnipharGroup/Investors/about_usjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T06:05:52</CreateDate>
    <NodeName Default="about_us.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rz2ot5cz/about_us.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>