<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f32f314-c29d-4997-84bc-116b9dd7186f" Alias="AI in diagnostic.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/AIInDiagnosticjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T11:32:18</CreateDate>
    <NodeName Default="AI in diagnostic.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tm2hjcpu/ai-in-diagnostic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>