<?xml version="1.0" encoding="utf-8"?>
<Media Key="94910c05-b9d9-46d2-8214-bd394ea1fc7f" Alias="Biosimilar Distribution.jpg" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/BiosimilarDistributionjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-21T12:12:38</CreateDate>
    <NodeName Default="Biosimilar Distribution.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rldnoivq/biosimilar-distribution.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>