<?xml version="1.0" encoding="utf-8"?>
<Media Key="68911fd0-164d-41cb-8fb2-41bd5ab3a68a" Alias="Cardiac Monitoring.jpg" Level="3">
  <Info>
    <Parent Key="44b53c6b-c10d-462b-96ab-324fc0c92468">Services</Parent>
    <Path>/UnipharMedTech/Services/CardiacMonitoringjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-16T09:34:42</CreateDate>
    <NodeName Default="Cardiac Monitoring.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l5knpxre/cardiac-monitoring.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>