<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f5cef76-4dd4-42ee-a59e-6f183c563395" Alias="Cardiac Monitoring.jpg (1)" Level="3">
  <Info>
    <Parent Key="44b53c6b-c10d-462b-96ab-324fc0c92468">Services</Parent>
    <Path>/UnipharMedTech/Services/CardiacMonitoringjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:26:32</CreateDate>
    <NodeName Default="Cardiac Monitoring.jpg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5esbv4n3/cardiac-monitoring.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>