<?xml version="1.0" encoding="utf-8"?>
<Media Key="fae5a6af-c154-4a1f-82ed-0ae5d8e4203a" Alias="contact.jpg (1)" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/contactjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T07:19:04</CreateDate>
    <NodeName Default="contact.jpg (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ebwkgtb3/contact.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>