<?xml version="1.0" encoding="utf-8"?>
<Media Key="7257b60f-f4a1-4a90-a47b-8836973a40d3" Alias="contact.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/contactjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:25:21</CreateDate>
    <NodeName Default="contact.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qb4bdrgi/contact.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>