<?xml version="1.0" encoding="utf-8"?>
<Media Key="68c8d526-73af-4ce1-9bcb-b78f3807fab0" Alias="contact.jpg" Level="3">
  <Info>
    <Parent Key="91645745-c209-4ffd-b46d-66201eb03dbc">Heroes</Parent>
    <Path>/UnipharMedTech/Heroes/contactjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:27:29</CreateDate>
    <NodeName Default="contact.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vepj3xwg/contact.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>