<?xml version="1.0" encoding="utf-8"?>
<Media Key="2957d3b5-18b6-46b2-ad0e-cd403ef5b25d" Alias="Diagnostic Tools.jpg (1)" Level="3">
  <Info>
    <Parent Key="44b53c6b-c10d-462b-96ab-324fc0c92468">Services</Parent>
    <Path>/UnipharMedTech/Services/DiagnosticToolsjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:26:32</CreateDate>
    <NodeName Default="Diagnostic Tools.jpg (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/himbdh45/diagnostic-tools.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>