<?xml version="1.0" encoding="utf-8"?>
<Media Key="85bd4a7b-e11b-43de-9f4f-2a84baa21a1a" Alias="Documents" Level="2">
  <Info>
    <Parent Key="7e2d8e40-81a2-40d6-83d0-c1ed954b7c85">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:57:49</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>