<?xml version="1.0" encoding="utf-8"?>
<Media Key="87688977-4ea6-48f0-8d78-b10e2ccab8de" Alias="Document" Level="2">
  <Info>
    <Parent Key="50e48cf2-9a8d-436c-adb4-bcf10a7b85b4">Uniphar Group</Parent>
    <Path>/UnipharGroup/Document</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:55:36</CreateDate>
    <NodeName Default="Document" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>