<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e2160d1-e73e-4798-9c8b-f890300ba9d9" Alias="download.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/downloadjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T05:28:00</CreateDate>
    <NodeName Default="download.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l0vgpwcx/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>