<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e4b3851-6a0c-446c-b3f1-2488fee31649" Alias="generic drug.jpg" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/genericDrugjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-16T07:18:40</CreateDate>
    <NodeName Default="generic drug.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/11za1odf/generic-drug.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>