<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cb00cab-e10e-4d37-9270-03d7dc148a8c" Alias="Heroes" Level="2">
  <Info>
    <Parent Key="7e2d8e40-81a2-40d6-83d0-c1ed954b7c85">Uniphar Pharma</Parent>
    <Path>/UnipharPharma/Heroes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:57:27</CreateDate>
    <NodeName Default="Heroes" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>