<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd8f5fb-e2c0-4425-9f0e-4d938f1edec6" Alias="images (5).jpg" Level="3">
  <Info>
    <Parent Key="25ac454d-89c7-4ee2-8af2-ccc8684d9c6f">Teams</Parent>
    <Path>/UnipharGroup/Teams/images5Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-18T11:15:25</CreateDate>
    <NodeName Default="images (5).jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oq5j2gnj/images-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>