<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d1985bd-4cac-4759-8691-bb9ce04376b2" Alias="images (5).jpg" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/images5Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-21T12:18:15</CreateDate>
    <NodeName Default="images (5).jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gjhf5s4f/images-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>