<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3baf3e5-3d2f-4b40-ac2a-2ebc9342269e" Alias="investor.png" Level="3">
  <Info>
    <Parent Key="41051ea4-6b95-41a9-8a6f-f13b0dd31110">Investors</Parent>
    <Path>/UnipharGroup/Investors/investorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T06:03:26</CreateDate>
    <NodeName Default="investor.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ni2pyvkg/investor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>