<?xml version="1.0" encoding="utf-8"?>
<Media Key="41051ea4-6b95-41a9-8a6f-f13b0dd31110" Alias="Investors" Level="2">
  <Info>
    <Parent Key="50e48cf2-9a8d-436c-adb4-bcf10a7b85b4">Uniphar Group</Parent>
    <Path>/UnipharGroup/Investors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:55:23</CreateDate>
    <NodeName Default="Investors" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>