<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ef62ad0-49cb-429f-8db0-50b0c18590bb" Alias="investor.jpg" Level="3">
  <Info>
    <Parent Key="41051ea4-6b95-41a9-8a6f-f13b0dd31110">Investors</Parent>
    <Path>/UnipharGroup/Investors/investorjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:23:33</CreateDate>
    <NodeName Default="investor.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l5qlb4fc/investor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>