<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ac4628a-42db-4e69-8d2e-59d616b94a1f" Alias="medtech office.jpg" Level="3">
  <Info>
    <Parent Key="91645745-c209-4ffd-b46d-66201eb03dbc">Heroes</Parent>
    <Path>/UnipharMedTech/Heroes/medtechOfficejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T04:13:49</CreateDate>
    <NodeName Default="medtech office.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/awuifdfs/medtech-office.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>