<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b0de19c-98ce-4b2f-8241-a5f3e30652f3" Alias="Oncology Distribution.jpg" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/OncologyDistributionjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-21T12:12:38</CreateDate>
    <NodeName Default="Oncology Distribution.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cmvfxdnh/oncology-distribution.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>