<?xml version="1.0" encoding="utf-8"?>
<Media Key="82550feb-6d6c-4798-9d89-b61becc440b4" Alias="Orthopaedic Implants.jpg" Level="3">
  <Info>
    <Parent Key="44b53c6b-c10d-462b-96ab-324fc0c92468">Services</Parent>
    <Path>/UnipharMedTech/Services/OrthopaedicImplantsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-21T12:01:53</CreateDate>
    <NodeName Default="Orthopaedic Implants.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mtcbgnaf/orthopaedic-implants.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>