<?xml version="1.0" encoding="utf-8"?>
<Media Key="af5fa492-4af5-4531-a0e8-4808a3296740" Alias="Pharma Office.jpg" Level="3">
  <Info>
    <Parent Key="2cb00cab-e10e-4d37-9270-03d7dc148a8c">Heroes</Parent>
    <Path>/UnipharPharma/Heroes/PharmaOfficejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T04:14:33</CreateDate>
    <NodeName Default="Pharma Office.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dvxbsgm2/pharma-office.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>