<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2bec10e-bf0a-4a5f-ae3d-e1727f6410ed" Alias="Rare Disease Medicines.jpg" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/RareDiseaseMedicinesjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-21T12:12:38</CreateDate>
    <NodeName Default="Rare Disease Medicines.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qefpqzdd/rare-disease-medicines.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>