<?xml version="1.0" encoding="utf-8"?>
<Media Key="44b53c6b-c10d-462b-96ab-324fc0c92468" Alias="Services" Level="2">
  <Info>
    <Parent Key="55aa9b41-cf4f-4b4c-9f37-c8f48f6a55aa">Uniphar MedTech</Parent>
    <Path>/UnipharMedTech/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:56:32</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>