<?xml version="1.0" encoding="utf-8"?>
<Media Key="53f477e9-99a0-4834-9ad4-b9ff26bdb79d" Alias="speciality drug.jpg (1)" Level="3">
  <Info>
    <Parent Key="3fa167da-643d-4d81-a11d-c5d4db282346">Products</Parent>
    <Path>/UnipharPharma/Products/specialityDrugjpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:28:30</CreateDate>
    <NodeName Default="speciality drug.jpg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m04lfzoj/speciality-drug.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>