<?xml version="1.0" encoding="utf-8"?>
<Media Key="605fe93b-e378-4051-ae39-53c5eef13642" Alias="Surgical Equipment.jpg" Level="3">
  <Info>
    <Parent Key="44b53c6b-c10d-462b-96ab-324fc0c92468">Services</Parent>
    <Path>/UnipharMedTech/Services/SurgicalEquipmentjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-16T09:34:42</CreateDate>
    <NodeName Default="Surgical Equipment.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wqrbtvqr/surgical-equipment.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>