<?xml version="1.0" encoding="utf-8"?>
<Media Key="038165f6-084e-4d0c-a911-8e2d844376cf" Alias="sustainability.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/sustainabilityjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T10:00:07</CreateDate>
    <NodeName Default="sustainability.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pgxnpnjh/sustainability.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>