<?xml version="1.0" encoding="utf-8"?>
<Media Key="25ac454d-89c7-4ee2-8af2-ccc8684d9c6f" Alias="Teams" Level="2">
  <Info>
    <Parent Key="50e48cf2-9a8d-436c-adb4-bcf10a7b85b4">Uniphar Group</Parent>
    <Path>/UnipharGroup/Teams</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:55:48</CreateDate>
    <NodeName Default="Teams" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>