<?xml version="1.0" encoding="utf-8"?>
<Media Key="55aa9b41-cf4f-4b4c-9f37-c8f48f6a55aa" Alias="Uniphar MedTech" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnipharMedTech</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-01T11:56:13</CreateDate>
    <NodeName Default="Uniphar MedTech" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>