<?xml version="1.0" encoding="utf-8"?>
<Media Key="95285f84-384d-4f79-9141-fbd927ee050d" Alias="uniphar banner.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/unipharBannerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-17T06:19:46</CreateDate>
    <NodeName Default="uniphar banner.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bokh2ize/uniphar-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>