<?xml version="1.0" encoding="utf-8"?>
<Media Key="75a7b75d-8edb-4fa9-96c3-c5dc9cc2319d" Alias="Uniphar Investor.pdf" Level="3">
  <Info>
    <Parent Key="87688977-4ea6-48f0-8d78-b10e2ccab8de">Document</Parent>
    <Path>/UnipharGroup/Document/UnipharInvestorpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-15T09:13:44</CreateDate>
    <NodeName Default="Uniphar Investor.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rv0h5ecz/uniphar-investor.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>