<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a95a8e-96dc-40ec-908b-4bc1a82d7e72" Alias="UnipharESG Report.pdf" Level="3">
  <Info>
    <Parent Key="87688977-4ea6-48f0-8d78-b10e2ccab8de">Document</Parent>
    <Path>/UnipharGroup/Document/UnipharESGReportpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-15T09:13:20</CreateDate>
    <NodeName Default="UnipharESG Report.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l0mgcek4/unipharesg-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>