<?xml version="1.0" encoding="utf-8"?>
<Media Key="308e2143-d6ef-4f38-9b8f-a7bb48d5bc8c" Alias="uniphar office.jpg" Level="3">
  <Info>
    <Parent Key="f72ff5f2-00c1-475a-9ef8-3ecb4974978b">Heroes</Parent>
    <Path>/UnipharGroup/Heroes/unipharOfficejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T08:35:05</CreateDate>
    <NodeName Default="uniphar office.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ztvnrbug/uniphar-office.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>