<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dca03b0-5338-490a-9e7d-63d0663d31fb" Alias="Uniphar Investor.pdf" Level="3">
  <Info>
    <Parent Key="41051ea4-6b95-41a9-8a6f-f13b0dd31110">Investors</Parent>
    <Path>/UnipharGroup/Investors/UnipharInvestorpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-15T06:52:42</CreateDate>
    <NodeName Default="Uniphar Investor.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mdabfgf0/uniphar-investor.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>