<?xml version="1.0" encoding="utf-8"?>
<Domain Key="adbf1c5f-0000-0000-0000-000000000000" Alias="unimedtech.localhost:44335/fr">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>fr-FR</Language>
    <Root Key="31cd9348-ce03-4887-943b-6885dee41d4e">/Uniphar Medtech</Root>
  </Info>
</Domain>