<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0352ec5-032a-4690-85e2-0796fb9924be" Alias="Documents Block List" Level="1">
  <Info>
    <Name>Documents Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "34b50d30-e692-4a15-bd81-cade8e70876d"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 10
  }
}]]></Config>
</DataType>