<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7cae453-156f-4d18-82c4-fe822b45dab0" Alias="Features Block List" Level="1">
  <Info>
    <Name>Features Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c77bc250-42ef-478c-9b83-73bafd097656"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 8
  }
}]]></Config>
</DataType>