<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16f6bf69-df51-4fa6-a5b8-ca86569de868" Alias="Feature Block - Is Highlighted - Toggle" Level="1">
  <Info>
    <Name>Feature Block - Is Highlighted - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>