<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5941e45b-6aca-4fb4-8d96-9a9bf6a106d5" Alias="Goals Block List" Level="1">
  <Info>
    <Name>Goals Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b8786d3a-47b7-4ecc-8ada-75ec73c92921"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 10
  }
}]]></Config>
</DataType>