<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd33614-aeb9-45cc-8fa3-1cb5e61926c3" Alias="Key Stats Block List" Level="1">
  <Info>
    <Name>Key Stats Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5370582a-c2c0-4294-8402-814c0aec2cba"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 10
  }
}]]></Config>
</DataType>