<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2c1d174-b217-4a63-bc3c-efcbdebbefc0" Alias="Navigation Cards Block List" Level="1">
  <Info>
    <Name>Navigation Cards Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9e6053d5-8c8c-4032-a4bb-9c55531ac30c"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 6
  }
}]]></Config>
</DataType>