<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7de59d0d-863a-4375-90e1-5b9906d4f313" Alias="Page Settings Composition - Hide From Navigation - Toggle" Level="1">
  <Info>
    <Name>Page Settings Composition - Hide From Navigation - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>