<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b144e2d1-2d8c-41d4-bc55-68aa5fde1ec2" Alias="Page Settings Composition - Show In Sitemap - Toggle" Level="1">
  <Info>
    <Name>Page Settings Composition - Show In Sitemap - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>