<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2f30486-f004-4882-a692-c9edb1f571e7" Alias="SEO Composition - Meta Description - Text Area" Level="1">
  <Info>
    <Name>SEO Composition - Meta Description - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>