<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ec125c4-8868-4a80-8fa9-625e09ceac41" Alias="SEO Composition - No Index - Toggle" Level="1">
  <Info>
    <Name>SEO Composition - No Index - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>