<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcbabdd8-b948-4829-a684-79d69b317a8a" Alias="Service Page - Is featured Service - Toggle" Level="1">
  <Info>
    <Name>Service Page - Is featured Service - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>